:root {
	--pico-form-element-spacing-vertical: 0.5rem;
	--pico-form-element-spacing-horizontal: 0.75rem;
	--pico-border-radius: 0.375rem;
	--pico-font-size: 1rem;
}


html {
	background: radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(121, 192, 255, .1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(121, 192, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color: var(--pico-color-azure-950);
	background-size: 16px 16px;

	background-attachment: fixed;
}

.box {
	background: var(--pico-color-azure-950);
	padding: 1rem 1.5rem 0 1.5rem;
	border: var(--pico-border-width) solid var(--pico-muted-border-color);
	border-radius: var(--pico-border-radius);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.33);
	margin: 2rem 1rem;
}

.vcenter {
	text-align: middle;
}

pre {
	background: var(--pico-color-azure-950);
}

.big-header {
	font-size: 1.5rem;
	line-height: 1.175rem;
	font-weight: 700;
	padding-bottom: 0rem;
	justify-self: center;
}

hl small {
	font-size: 50% !;
	font-weight: 300 !;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border: 0;
	background: rgba(var(--pico-color-azure-950));
	backdrop-filter: blur(30px);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33),
		0px 10px 20px rgba(0, 0, 0, 0.125);
	padding: 1rem 1.5rem 0.5rem 1.5rem;
	height: 6rem;

}

.scroll {
	margin-top: 8rem;
}

.header-row {
	display: grid;
	justify-items: stretch;
	grid-auto-flow: column;
	align-items: center;
	grid-template-columns: 3fr 2fr 3fr;
	height: 50%;
}

.left {
	align-self: start;
}

.right {
	height: 100%;
	align-self: end;
	text-align: right;
}

.middle {
	align-self: center;
	text-align: center;
}

.bright {
	color: var(--pico-primary);
}


td,
th {
	background: var(--pico-color-azure-950);
	/* border-color: rgba(255, 255, 255, 0.125); */
}

td {
	border-bottom: 0;
}